[submodule "python3-compile-engine"]
	path = python3-compile-engine
	url = git@github.com:Zefinder/python3-compile-engine.git
[submodule "rawdb"]
	path = rawdb
	url = git@github.com:Zefinder/rawdb.git
